---
title: "HaxeFlixel Snippets"
layout: "snippets-layout"
---

<div class="alert alert-primary d-flex align-items-center" role="alert">
	<i class="bi-megaphone mx-2"></i>
	<div>
		This website is open source! Check out the
		<a class="alert-link" href="https://github.com/HaxeFlixel/snippets.haxeflixel.com"
			>repository</a
		>
		to see how you can help improve it!
	</div>
</div>

<div class="jumbotron fs-5">
	{% comment %} <iframe class="title-logo" src="/title-logo/export/html5/bin/" width="725" height="85" allowtransparency="true"></iframe> {% endcomment %}
	<h1 class="mt-4 fs-3">
		The free resource for learning about <a href="https://haxeflixel.com/">HaxeFlixel</a>.
	</h1>
	<p class="lead fs-3 ">
		This website is a collection of snippets that demonstrate some of the features of HaxeFlixel.
	</p>
	<p>
		HaxeFlixel is a free, open-source, cross-platform, 2D game development library that uses
		<a href="https://www.openfl.org/">OpenFL</a> and <a href="https://haxe.org/">Haxe</a>, and is
		based on the original <a href="http://flixel.org/">AS3 Flixel</a> by
		<a href="http://www.adamatomic.com/">Adam "Atomic" Saltsman</a>.
	</p>
	<p>
		This website aims to assist anyone who wants to use HaxeFlixel in understanding and utilizing
		the many powerful concepts this library has to offer.
	</p>
</div>
